<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.you.mapper.SysDevilnutMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.you.entity.SysDevilnut">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="foreign_name" property="foreignName" />
        <result column="alias" property="alias" />
        <result column="category" property="category" />
        <result column="nature" property="nature" />
        <result column="eater" property="eater" />
        <result column="synopsis" property="synopsis" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="statu" property="statu" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, foreign_name, alias, category, nature,eater,synopsis, created_time, updated_time, statu
    </sql>

</mapper>
