<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.you.mapper.SysFigureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.you.entity.SysFigure">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="foreign_name" property="foreignName" />
        <result column="alias" property="alias" />
        <result column="sex" property="sex" />
        <result column="birth" property="birth" />
        <result column="age" property="age" />
        <result column="blood" property="blood" />
        <result column="height" property="height" />
        <result column="bounty" property="bounty" />
        <result column="debut" property="debut" />
        <result column="position" property="position" />
        <result column="eating_habits" property="eatingHabits" />
        <result column="overbearing" property="overbearing" />
        <result column="constellation" property="constellation" />
        <result column="justice_view" property="justiceView" />
        <result column="synopsis" property="synopsis" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="statu" property="statu" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, foreign_name, alias, sex,birth,age,blood,height,bounty,debut,position,eating_habits,overbearing,constellation,justice_view,synopsis,created_time,updated_time,statu
    </sql>

</mapper>
