<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.you.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.you.entity.SysRole">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="remark" property="remark" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="statu" property="statu" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, remark, created_time, updated_time, statu
    </sql>

    <!-- 根据用户id获取角色信息-->
    <select id="getRoleInfoByUserId" parameterType="String" resultMap="BaseResultMap">
        select
            r.*
        from
            sys_role r
        left join sys_user_role ur on ur.role_id = r.id
        where
            ur.user_id = #{userId}
    </select>

    <!-- 根据角色id删除角色菜单关系-->
    <delete id="deleteRoleMenuByRoleId">
        delete from sys_role_menu where role_id in
            <foreach collection="roleIds" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </delete>

    <!-- 根据角色id删除用户角色关系-->
    <delete id="deleteUserRoleByRoleId">
        delete from sys_user_role where role_id in
        <foreach collection="roleIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 批量新增角色菜单关系 -->
    <insert id="batchSaveRoleMenu" parameterType="java.util.List">
        insert into sys_role_menu(role_id, menu_id)
        <foreach collection="list" item="item" separator="union all">
            (select #{item.roleId,jdbcType=VARCHAR}, #{item.menuId,jdbcType=VARCHAR} from dual)
        </foreach>
    </insert>
</mapper>
