<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.you.mapper.SysOrganizationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.you.entity.SysOrganization">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="foreign_name" property="foreignName" />
        <result column="nature" property="nature" />
        <result column="birth" property="birth" />
        <result column="leader" property="leader" />
        <result column="headquarters" property="headquarters" />
        <result column="debut" property="debut" />
        <result column="synopsis" property="synopsis" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="statu" property="statu" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, name, foreign_name, nature, birth, leader, headquarters, debut, synopsis, created_time, updated_time, statu
    </sql>

    <!-- 新增组织文件关系 -->
    <insert id="saveOrganizationFile" parameterType="com.you.entity.SysOrganizationFile">
        insert into sys_organization_file(organization_id, upload_file_id)
        values (#{organizationId,jdbcType=VARCHAR}, #{uploadFileId,jdbcType=VARCHAR})
    </insert>

    <!-- 根据上传文件id删除组织文件关系 -->
    <delete id="deleteOrganizationFileByFileId">
        delete from sys_organization_file where upload_file_id in
        <foreach collection="fileIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 批量新增组织内容信息 -->
    <insert id="batchSaveOrganizationContent" parameterType="java.util.List">
        insert into sys_organization_content(id,organization_id, content,type)
        <foreach collection="list" item="item" separator="union all">
            (select #{item.id,jdbcType=VARCHAR},#{item.organizationId,jdbcType=VARCHAR}, #{item.content,jdbcType=VARCHAR}, #{item.type,jdbcType=VARCHAR} from dual)
        </foreach>
    </insert>

    <!-- 根据组织id获取内容信息 -->
    <select id="getContentByOrganizationId" parameterType="String" resultType="com.you.entity.SysOrganizationContent">
        select content,type from sys_organization_content where organization_id = #{organizationId}
    </select>

    <delete id="deleteContentByOrganizationId" parameterType="String">
        delete  from sys_organization_content where organization_id = #{organizationId}
    </delete>
</mapper>
