<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.you.mapper.SysOrganizationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.you.entity.SysOrganization">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="foreign_name" property="foreignName" />
        <result column="nature" property="nature" />
        <result column="birth" property="birth" />
        <result column="leader" property="leader" />
        <result column="headquarters" property="headquarters" />
        <result column="debut" property="debut" />
        <result column="synopsis" property="synopsis" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="statu" property="statu" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, name, foreign_name, nature, birth, leader, headquarters, debut, synopsis, created_time, updated_time, statu
    </sql>

</mapper>
