<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.you.mapper.SysUploadFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.you.entity.SysUploadFile">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, url
    </sql>

    <!-- 新增组织文件关系 -->
    <insert id="saveOrganizationFileRecord" parameterType="com.you.entity.SysOrganizationFile">
        insert into sys_organization_file(organization_id, upload_file_id)
        values (#{organizationId,jdbcType=VARCHAR}, #{uploadFileId,jdbcType=VARCHAR})
    </insert>

    <!-- 根据组织id获取上传文件信息-->
    <select id="getOrganizationFileRecord" parameterType="String" resultMap="BaseResultMap">
        select
            suf.*
        from
            sys_upload_file suf
        left join sys_organization_file sof on suf.id = sof.upload_file_id
        where
            sof.organization_id = #{organizationId}
    </select>

    <!-- 根据上传文件id删除组织文件关系 -->
    <delete id="deleteOrganizationFileRecord">
        delete from sys_organization_file where upload_file_id in
        <foreach collection="fileIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 新增果实文件关系 -->
    <insert id="saveDevilnutFileRecord" parameterType="com.you.entity.SysDevilnutFile">
        insert into sys_devilnut_file(devilnut_id, upload_file_id)
        values (#{devilnutId,jdbcType=VARCHAR}, #{uploadFileId,jdbcType=VARCHAR})
    </insert>

    <!-- 根据果实id获取上传文件信息-->
    <select id="getDevilnutFileRecord" parameterType="String" resultMap="BaseResultMap">
        select
            suf.*
        from
            sys_upload_file suf
        left join sys_devilnut_file sdf on suf.id = sdf.upload_file_id
        where
            sdf.devilnut_id = #{devilnutId}
    </select>

    <!-- 根据上传文件id删除果实文件关系 -->
    <delete id="deleteDevilnutFileRecord">
        delete from sys_devilnut_file where upload_file_id in
        <foreach collection="fileIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 新增岛屿文件关系 -->
    <insert id="saveIslandsFileRecord" parameterType="com.you.entity.SysIslandsFile">
        insert into sys_islands_file(islands_id, upload_file_id)
        values (#{islandsId,jdbcType=VARCHAR}, #{uploadFileId,jdbcType=VARCHAR})
    </insert>

    <!-- 根据岛屿id获取上传文件信息-->
    <select id="getIslandsFileRecord" parameterType="String" resultMap="BaseResultMap">
        select
            suf.*
        from
            sys_upload_file suf
        left join sys_islands_file sif on suf.id = sif.upload_file_id
        where
            sif.islands_id = #{islandsId}
    </select>

    <!-- 根据上传文件id删除岛屿文件关系 -->
    <delete id="deleteIslandsFileRecord">
        delete from sys_islands_file where upload_file_id in
        <foreach collection="fileIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 新增船只文件关系 -->
    <insert id="saveShippingFileRecord" parameterType="com.you.entity.SysShippingFile">
        insert into sys_shipping_file(shipping_id, upload_file_id)
        values (#{shippingId,jdbcType=VARCHAR}, #{uploadFileId,jdbcType=VARCHAR})
    </insert>

    <!-- 根据船只id获取上传文件信息-->
    <select id="getShippingFileRecord" parameterType="String" resultMap="BaseResultMap">
        select
            suf.*
        from
            sys_upload_file suf
        left join sys_shipping_file ssf on suf.id = ssf.upload_file_id
        where
            ssf.shipping_id = #{shippingId}
    </select>

    <!-- 根据上传文件id删除船只文件关系 -->
    <delete id="deleteShippingFileRecord">
        delete from sys_shipping_file where upload_file_id in
        <foreach collection="fileIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 新增武器文件关系 -->
    <insert id="saveWeaponFileRecord" parameterType="com.you.entity.SysWeaponFile">
        insert into sys_weapon_file(weapon_id, upload_file_id)
        values (#{weaponId,jdbcType=VARCHAR}, #{uploadFileId,jdbcType=VARCHAR})
    </insert>

    <!-- 根据武器id获取上传文件信息-->
    <select id="getWeaponFileRecord" parameterType="String" resultMap="BaseResultMap">
        select
            suf.*
        from
            sys_upload_file suf
        left join sys_weapon_file ssf on suf.id = ssf.upload_file_id
        where
            ssf.weapon_id = #{weaponId}
    </select>

    <!-- 根据上传文件id删除武器文件关系 -->
    <delete id="deleteWeaponFileRecord">
        delete from sys_weapon_file where upload_file_id in
        <foreach collection="fileIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
