<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.you.mapper.SysUploadFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.you.entity.SysUploadFile">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, url
    </sql>

    <!-- 获取上传文件信息-->
    <select id="getFileInfo" parameterType="String" resultMap="BaseResultMap">
        select
            suf.*
        from
            sys_upload_file suf
        left join sys_upload_file_record sufc on suf.id = sufc.file_id
        where
            sufc.type = #{type}
            and sufc.owner_id = #{ownerId}
    </select>

</mapper>
